body {
  margin: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  height: 720px;
  width: 720px;
}

#container div {
  border: 2px black solid;
  flex: 0 0 6.25%;
  box-sizing: border-box;
}