body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin: .25em;
}

#container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  height: 720px;
  width: 720px;
}